@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

* {
  box-sizing: border-box;
  transition: all ease .2s;
}

body {
  background-color: #303030;
  font-family: 'Bebas Neue', cursive;
}

@keyframes customTransaction {
  0%{
      opacity: 0;
      transform: scale(0.9);
  }

  100%{
      opacity: 1;
      transform: translate(0);
  }
}