@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

* {
  box-sizing: border-box;
  transition: all ease .2s;
  font-family: 'Bebas Neue', cursive;
}

body {
  background-color: #303030;
  font-family: 'Bebas Neue', cursive;
}