@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

* {
  box-sizing: border-box;
  transition: all ease .2s;
  font-family: 'Bebas Neue', cursive;
}

body {
  background: rgb(2,0,36);
  background: linear-gradient(0deg, rgba(2,0,36,1) 0%, rgba(48,48,48,1) 100%);
  font-family: 'Raleway', sans-serif;
}

@keyframes customTransaction {
  0%{
      opacity: 0;
      transform: scale(0.9);
  }

  100%{
      opacity: 1;
      transform: translate(0);
  }
}